.title_row{
    
    margin: 20px;
    margin-bottom: 40px;   
}


.survey-Row{
    height: 70px;
    background-color:#ffffff;
    margin: 10px;
    margin-bottom: 15px;
    padding-top: 5px;
    border-radius: 5px;

}
.survey-Row:hover{
    background-color:#f9fcfc;
}

.col1{
    color: black;
    height: 50px;
    cursor: pointer;
}

.col2{
  
    cursor: pointer;
}

.col22{
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    cursor: pointer;
    border-radius: 5px;
}